/*
 * This CSS is for the new hero canvas in the #home section.
 * It is scoped to #home to avoid conflicting with other styles.
 */

#home {
    /* This overrides the default .section padding and alignment */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#hero-canvas {
    /* Canvas fills the entire #home section */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}